
body{
  background-image: url('IMG49.jpg');
  background-position: 500px 50px;
  background-size:300px 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #037490;
  border-style: solid;
  border-radius: 20px;
  border-color: #071181;
  margin: 5px;
  padding: 10px;
 
}  
.r {
  margin-right: 50px;
  margin-left: 50px;
}
.pas {
  position: absolute;
  left:  130px;
  bottom:100px;
}
.m {
  color: blue;
  position: absolute;
  left: 250px;
  
}
.n {
  color: red;
}
  